.red {
  
    color: red;
  }
  
.bold{
     font-weight:bold;
  }
  
.Cockpit button{
    align-items: center;
    background-color: green;
    color:white;
    font:inherit;
    border:1px solid blue;
    padding:8px;
    cursor:pointer;
  }
  
  
.Cockpit button:hover{
      background-color: rgb(118, 238, 107) ;
      color:black;
  }
  
.Cockpit button.Red{
    background-color: red;
  }
.Cockpit button.Red:hover{
    background-color: salmon;
  }
  
  